/* ============== Header =========== */
.Header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    background: #fff;
    z-index: 4;
    box-shadow: 2px 1px 8px #0006;
}
nav{
    width: 80%;
    margin: 0 auto;
    padding: 8px 0;
    justify-content: space-between;
}
.Header .logo h5{
    font-size: 22px;
    font-weight: 500;
    margin-top: 1px;
    color: #8b7cdb;
}
.menu ul li{
    font-size: 14px;
    margin-right: 10px;
    margin-top: 5px;
    color: #3d3d4e;
    cursor: pointer;
}
.menu ul li:hover{
    color: #8b7cdb;
}

/* ========= Footer =========== */
.Footer{
    width: 100%;
    max-width: 100vw;
    background: #fcfbfe;
    text-align: center;
    /* position: absolute;
    bottom: 0;
    left: 0; */
}
.logo h5{
    color: #8b7cdb;
}
.f-motto, .social-H{
    font-size: 12px;
    /* margin-bottom: 10px; */
    color: #8b7cdb;
}
.social-H{
    font-size: 14px;
    /* margin-bottom: 10px; */
    color: #8b7cdb;
}
.Footer .footer-nav ul li h6{
    font-weight: 500;
    font-size: 14px;
    color: #8b7cdb;
}
.Footer .footer-nav ul li{
    font-size: 12px;
    margin-bottom: 10px;
    color: #8b7cdb;
}
.Footer .copyright{
    text-align: center;
    color: #8b7cdb;
    font-size: 13px;
    font-weight: 500;
}