@media (max-width: 640px) {
    .Header{
        border-bottom: 1px solid #ccc;
    }
    .Header .logo h5{
        font-size: 16px;
        font-weight: 400;
        color: #010;
        margin-top: 4px;
    }
    .banner{
        height: fit-content;
    }
    /* .banner-sm1{
        height: 300px !important;
    } */
    .banner-btn{
        flex-direction: column;
    }
    .banner-sm0{
        /* min-height: 350px; */
        background-image: url('../img//mael-balland-wcBFtctph_M-unsplash.jpg');
        background-position: 50% 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
  .info-h5{
    width: 100% !important;
    margin: 0;
  }
  .img-brand{
      width: 205px;
  }
}