@media (max-width: 640px) {
  .Header {
    border-bottom: 1px solid #ccc;
  }
  nav {
    width: 90%;
    margin: 0 auto;
  }
  .Header .logo h5 {
    font-size: 16px;
    margin-top: 6px;
  }
  .menu {
    display: none;
  }
  .col-85 {
    width: 90%;
    margin: 0 auto;
  }
  .banner {
    height: fit-content;
  }
  /* .banner-sm1{
        height: 300px !important;
    } */
  .banner-btn {
    flex-direction: column;
  }
  .banner-sm0 {
    /* min-height: 350px; */
    background-image: url('../img//mael-balland-wcBFtctph_M-unsplash.jpg');
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .info-h5 {
    width: 100% !important;
    margin: 0;
  }
  .img-brand {
    width: 205px;
  }
  .page_t_bottom .col-85 form {
    width: 100% !important;
    /* margin: 10px 0px !important; */
  }
  .hide-icon {
    display: block;
  }

  /* ============ Mobile-nav ================= */
  .mobile-nav{
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 50%;
      background: #fff;
      z-index: 10;
      box-shadow: 2px 2px 8px #0008;
  }
  .mobile-menu li {
    margin-bottom: 15px !important;
  }
  .mobile-menu li a{
      font-size: 13px;
      color: #010;
  }
  .mobile-menu li a:hover{
      color: #8b7cdb;
      text-decoration: dotted !important;
  }
}


@media (max-width: 780px) {
    .Header {
      border-bottom: 1px solid #ccc;
    }
    nav {
      width: 90%;
      margin: 0 auto;
    }
    .Header .logo h5 {
      font-size: 16px;
      margin-top: 6px;
    }
    .menu {
      display: none;
    }
    .col-85 {
      width: 90%;
      margin: 0 auto;
    }
    .hide-icon {
      display: block;
    }
  
    /* ============ Mobile-nav ================= */
    .mobile-nav{
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
        background: #fff;
        z-index: 10;
        box-shadow: 2px 2px 8px #0008;
    }
    .mobile-menu li {
      margin-bottom: 15px !important;
    }
    .mobile-menu li a{
        font-size: 13px;
        color: #010;
    }
    .mobile-menu li a:hover{
        color: #8b7cdb;
        text-decoration: dotted !important;
    }
  }
  
